body{
    background-color: rgb(48, 0, 24);
}
.container{
    border: solid green;
    height: 400px;
    background-color: rgb(39, 38, 38);
    width: 200px;
    border-radius: 20px;
    padding: 10px;
box-shadow: 2px 3px 4px black;
   
    
}
h1{
    color: white;
}
.button{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    

}
.calc{
    background-color: black;
    color: white;
    border: none;
    text-align: right;
    width: 190px;
    height: 50px;
    border-radius: 10px;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    
}
.span{
grid-row: 1/2span;
}
.btn:hover{
  background-color: chocolate;
  cursor: pointer;
}
.operator{
    background-color: chocolate;
}
.box{
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 300px;
}