html{
    direction: rtl;
}


p{
    text-align: left;
    /* text-indent: 2rem; */
    /* text-decoration: line-through; */
    /* text-transform: lowercase; */
    /* white-space: nowrap;
    width: 50ch;
    border: 3px solid deepskyblue;
    overflow:auto;
    text-overflow:ellipsis; */
    /* column-count: 2;
    column-gap: 2rem;
    column-rule: 3px solid rgb(236, 5, 5); */
  
}